*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orbitron{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
:root{
    --violeta: #9843F9; 
    --azulO: #110A40;
    --azulC: #0C114D;
    --verdeAgua: #27F2B9;
    --gris: #20202D;
    --blanco: #F8F8F7;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.fondo{
    background-image: url(../img/estadio-de-futbol-lleno-de-gente.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilo del contenedor de sobres */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 400px;
    padding: 20px;
    z-index: 1;
}

.sobres{
    width: 1200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobres article{
    height: 400px;
    width: 20%;
    background: var(--azulO);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.5s;
    text-decoration: none;

    &:hover{
        background: #9843F9;
        transform: translateY(-10px);
    }
}

.sobres article form button {
    background: none;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    gap: 10px;
}

.sobres article form button h3{
    color: var(--verdeAgua);
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.sobres article form button img {
    height: 70%;
    width: auto;
    object-fit: contain;
    display: block;
    max-width: 100%;
}

/* Estilo del aside descripcion */
main section aside{
    height: 400px;
    width: 20%;
    background: var(--gris);
}

main section aside h3{
    text-align: left;
    color: var(--verdeAgua);
    font-family: "Orbitron", sans-serif;
    padding: 15px 15px 0;
    font-size: 2rem;
}

main section aside p{
    padding: 15px;
    color: var(--blanco);
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}