<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Equipo nuevo</title>
     <link rel="stylesheet" th:href="@{/css/equipo/equipoSorteadoStyle.css(v=${T(java.lang.System).currentTimeMillis()})}"/>
     <link th:href="@{/css/rareza-jugadores.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">FUTCODE</a>
</nav>

<h1>Jugadores Sorteados</h1>

<h4 style="text-align: center">Estos serán tus jugadores disponibles. Con ellos podrás armar tu equipo de 11 inicial.</h4>

<div id="contenedor-principal">
  <div id="subContenedor">
    <ul class="container">
      <li class="contenedor-jugador jugador-card" th:each="jugador : ${equipo.jugadores}"
          th:style="'background-image: url(' + ${jugador.imagen} + ');'"
          th:classappend="${jugador.rarezaJugador.name() == 'NORMAL'} ? 'rareza-normal' :
          (${jugador.rarezaJugador.name() == 'RARO'} ? 'rareza-raro' :
          (${jugador.rarezaJugador.name() == 'EPICO'} ? 'rareza-epico' : 'rareza-leyenda'))">
          
          <div class="rareza-badge"
               th:classappend="${jugador.rarezaJugador.name() == 'NORMAL'} ? 'normal' :
               (${jugador.rarezaJugador.name() == 'RARO'} ? 'raro' :
               (${jugador.rarezaJugador.name() == 'EPICO'} ? 'epico' : 'leyenda'))"
               th:text="${jugador.rarezaJugador.name()}">
          </div>
          
        <div class="overlay">
        <h3>Jugador</h3>
        <span th:text="${jugador.nombre} + ' ' + ${jugador.apellido}"></span>
        <div class="titulo-con-linea"><h4>Posición</h4><hr></div>
        <span th:text="${jugador.posicionNatural}"></span>
        <div class="titulo-con-linea"><h4>Rating</h4><hr></div>
        <span th:text="${jugador.rating}"></span>
        <div class="titulo-con-linea"><h4>Rareza</h4><hr></div>
        <span th:text="${jugador.rarezaJugador}"></span>
        </div>
      </li>
    </ul>
  </div>
  <form th:action="@{/home}" method="get">
    <button type="submit">Continuar</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.contenedor-jugador');
    cards.forEach((card, i) => {
      card.style.animationDelay = `${i * 0.12}s`;
    });
  });
</script>
</body>
</html>
