<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Equipo nuevo</title>
  <link rel="stylesheet" th:href="@{/css/equipoSorteadoStyle.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">FUTCODE</a>
</nav>

<h1>Equipo Sorteado</h1>

<div id="contenedor-principal">
  <div id="subContenedor">
    <ul class="container">
      <li class="contenedor-jugador" th:each="jugador : ${equipo.jugadores}">
        <h3>Jugador</h3>
        <span th:text="${jugador.nombre} + ' ' + ${jugador.apellido}"></span>
        <div class="titulo-con-linea"><h4>Posicion</h4><hr></div>
        <span th:text="${jugador.posicionNatural}"></span>
        <div class="titulo-con-linea"><h4>Rating</h4><hr></div>
        <span th:text="${jugador.rating}"></span>
        <div class="titulo-con-linea"><h4>Rareza</h4><hr></div>
        <span th:text="${jugador.rarezaJugador}"></span>
      </li>
    </ul>
  </div>
  <form th:action="@{/home}" method="get">
    <button type="submit">Continuar</button>
  </form>
</div>
</body>
</html>
