<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Equipo nuevo</title>
  <link rel="stylesheet" th:href="@{/css/equipoSorteadoStyle.css(v=${T(java.lang.System).currentTimeMillis()})}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">FUTCODE</a>
</nav>

<h1>Jugadores Sorteados</h1>

<h4 style="text-align: center">Estos serán tus jugadores disponibles. Con ellos podrás armar tu equipo de 11 inicial.</h4>

<div id="contenedor-principal">
  <div id="subContenedor">
    <ul class="container">
      <li class="contenedor-jugador" th:each="jugador : ${equipo.jugadores}"
          th:style="'background-image: url(' + ${jugador.imagen} + ');'">
        <div class="overlay">
        <h3>Jugador</h3>
        <span th:text="${jugador.nombre} + ' ' + ${jugador.apellido}"></span>
        <div class="titulo-con-linea"><h4>Posición</h4><hr></div>
        <span th:text="${jugador.posicionNatural}"></span>
        <div class="titulo-con-linea"><h4>Rating</h4><hr></div>
        <span th:text="${jugador.rating}"></span>
        <div class="titulo-con-linea"><h4>Rareza</h4><hr></div>
        <span th:text="${jugador.rarezaJugador}"></span>
        </div>
      </li>
    </ul>
  </div>
  <form th:action="@{/home}" method="get">
    <button type="submit">Continuar</button>
  </form>
</div>
</body>
</html>
