<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FutCode</title>
    <!--  <link-->
    <!--          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"-->
    <!--          rel="stylesheet"/>-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
    />
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/list-torneos.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar">
    <a id="titulo-nav" class="navbar-brand" th:href="@{/home}">FUTCODE</a>
    <div class="container">
        <div id="navbarNav">
            <ul class="ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/plantilla}"
                    ><i class="bi bi-people-fill"></i> Mi Plantilla</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/torneo/lista-torneos}"
                    ><i class="bi bi-trophy-fill"></i> Torneos</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/jugador/mis-sobres}">
                        <i class="bi bi-archive"></i> Mis Sobres
                        <span class="badge bg-warning ms-1">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/jugador/comprar-sobres}">
                        <i class="bi bi-cart"></i> Mercado
                        <span class="badge bg-warning ms-1">3</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <button class="dropdown-toggle">
                            <i class="bi bi-person-circle"></i>
                            <span
                                    id="nombre-usuario"
                                    th:text="${#httpSession.getAttribute('usuario') != null ? #httpSession.getAttribute('usuario').nombre : 'Diego Maradona'}"
                            >Diego Maradona</span
                            >
                        </button>
                        <div class="dropdown-menu">
                            <a href="/perfil"><i class="bi bi-gear"></i> Configuración</a>
                            <hr />
                            <a th:href="@{/logout}" class="danger"
                            ><i class="bi bi-box-arrow-right"></i> Salir</a
                            >
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main class="contenedor-principal-torneos">
<h1>Torneos a los que estoy unido</h1>
    <th:block th:if="${mensajeTorneo}">
        <div class="alerta-exito">
            <i class="bi bi-info-circle"></i>
            <span th:text="${mensajeTorneo}"></span>
        </div>
    </th:block>
<div class="contenedores row">

    <section class="contenedor-torneo col-12 col-md-6 col-lg-4 mb-4" th:each="torneo : ${torneos}">
        <div class="torneo-card card h-100 shadow-sm position-relative">
            <!-- Estado del torneo -->
            <th:block th:switch="${torneo.estado.name()}">
                <div th:case="'ABIERTO'" class="estado-badge position-absolute bg-success">
                    <i class="bi bi-unlock"></i> Abierto
                </div>
                <div th:case="'EN_CURSO'" class="estado-badge position-absolute bg-warning">
                    <i class="bi bi-clock-history"></i> En curso
                </div>
                <div th:case="*" class="estado-badge position-absolute bg-danger">
                    <i class="bi bi-lock"></i> Cerrado
                </div>
            </th:block>

            <div class="card-body d-flex flex-column">
                <h2 class="h4 mb-3" th:text="${torneo.nombre}">
                    Nombre del Torneo
                </h2>
                <p class="text-muted small mb-3 overflow-auto"
                   style="max-height: 100px;"
                   th:text="${torneo.descripcion}">>
                    Descripción del torneo
                </p>

                <!-- Formato del torneo -->
                <th:block th:if="${torneo.formatoTorneo != null}">
                    <div class="bg-light p-3 rounded mb-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="h6 mb-0">
                                <i class="bi bi-diagram-3 me-2"></i>
                                <span th:text="${torneo.formatoTorneo.tipo.name() == 'LIGA'} ? 'Liga' : 'Copa'">
                                                Tipo
                                            </span>
                            </h3>
                        </div>
                    </div>
                </th:block>
                <a th:if="${torneo.estado.name() == 'ABIERTO'}"
                   th:href="@{/torneo/detalle-torneo/{id}(id=${torneo.id})}"
                   class="btn btn-primary w-100 mt-3">
                    Ver detalle
                    <i class="bi bi-arrow-right ms-2"></i>
                </a>
            </div>
        </div>

    </section>
</div>
</main>

</body>
</html>