<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FutCode</title>
   <link th:href="@{/css/estilos-comprar-sobres.css}" rel="stylesheet">
   <link th:href="@{/css/main.css}" rel="stylesheet">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<header>
   <nav class="navbar">
      <a id="titulo-nav" class="navbar-brand" href="#">FUTCODE</a>
      <div class="container">
         <div id="navbarNav">
            <ul class="ms-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/equipo"><i class="bi bi-people-fill"></i> Mi Equipo</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/spring/torneo/1/tabla-general"><i class="bi bi-trophy-fill"></i> Torneos</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="spring/comprar-sobres">
                     <i class="bi bi-gift-fill"></i> Sobres
                     <span class="badge bg-warning ms-1" th:text="${cantidadSobres}"></span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/mensajes">
                     <i class="bi bi-chat-dots-fill"></i> Mensajes
                     <span class="badge bg-danger ms-1">2</span>
                  </a>
               </li>
               <li class="nav-item dropdown">
                  <div class="dropdown">
                     <button class="dropdown-toggle">
                        <i class="bi bi-person-circle"></i>
                        <span id="nombre-usuario" th:text="${#httpSession.getAttribute('usuario') != null ? #httpSession.getAttribute('usuario').nombre : 'Diego Maradona'}">Diego Maradona</span>
                     </button>
                     <div class="dropdown-menu">
                        <a href="/perfil"><i class="bi bi-gear"></i> Configuración</a>
                        <hr>
                        <a th:href="@{/login}" class="danger"><i class="bi bi-box-arrow-right"></i> Salir</a>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>

<main>
   <div class="fondo"></div>
   <section>
      <div class="sobres">
         <article th:each="sobre : ${sobres}" >
            <form th:action="@{/jugador/agregarSobre}" method="post">
               <button type="submit">
                  <h3 th:text="${sobre.titulo}">Titulo</h3>

                  <img th:src="@{/img/{nombre}(nombre=${sobre.imagenUrl})}" alt="Imagen del sobre" class="imagen-sobre">

                  <h3 th:text="${sobre.precio}">Precio</h3>

                  <input type="hidden" name="tipoDeSobre" th:value="${sobre.tipoSobre}">
               </button>
            </form>
         </article>
      </div>
      <aside>
         <h3 id="titulo-descripcion">Sobre de Oro</h3>
         <p id="parrafo-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab animi vitae debitis ex aliquid, sapiente, quaerat voluptatem accusamus voluptas quas explicabo assumenda ut magni laboriosam tenetur blanditiis beatae cupiditate eos.</p>
      </aside>
   </section>

</main>

<script th:src="@{/js/script-comprar-sobre.js}"></script>
</body>
</html>