<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FutCode</title>
    <!--  <link-->
    <!--          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"-->
    <!--          rel="stylesheet"/>-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
    />
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/list-torneos.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
</head>
<body>

<div class="menu-indicator" onclick="toggleSidebar()" aria-label="Abrir menú lateral">
    <i class="bi bi-chevron-right"></i>
</div>

<!-- Overlay para cerrar la sidebar -->
<div class="sidebar-overlay" onclick="toggleSidebar()"></div>

<!-- Barra lateral -->
<aside class="sidebar" id="sidebar">
    <a th:href="@{/home}" class="sidebar-brand">FUTCODE</a>
    <ul>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/plantilla}">
                <i class="bi bi-people-fill"></i> Mi Plantilla
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/jugador/mis-sobres}">
                <i class="bi bi-archive"></i> Mis Sobres
                <span class="badge ms-2" th:text="${cantidadSobres}">0</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/partido/mi-historial}">
                <i class="bi bi-clock-history"></i> Historial de Partidos
            </a>
        </li>
    </ul>
</aside>

<!-- Navbar -->
<div th:replace="fragmento/header :: navbar(${equipoNombre})"></div>


<main class="contenedor-principal-torneos" style="margin-top: 140px">
<h1>Torneos a los que estoy unido</h1>
    <th:block th:if="${mensajeTorneo}">
        <div class="alerta-exito">
            <i class="bi bi-info-circle"></i>
            <span th:text="${mensajeTorneo}"></span>
        </div>
    </th:block>
<div class="contenedores row">

    <section class="contenedor-torneo col-12 col-md-6 col-lg-4 mb-4" th:each="torneo : ${torneos}">
        <div class="torneo-card card h-100 shadow-sm position-relative">
            <!-- Estado del torneo -->
            <th:block th:switch="${torneo.estado.name()}">
                <div th:case="'ABIERTO'" class="estado-badge position-absolute bg-success">
                    <i class="bi bi-unlock"></i> Abierto
                </div>
                <div th:case="'EN_CURSO'" class="estado-badge position-absolute bg-warning">
                    <i class="bi bi-clock-history"></i> En curso
                </div>
                <div th:case="'FINALIZADO'" class="estado-badge position-absolute bg-info">
                    <i class="bi bi-trophy"></i> Finalizado
                </div>
                <div th:case="*" class="estado-badge position-absolute bg-danger">
                    <i class="bi bi-lock"></i> Cerrado
                </div>
            </th:block>

            <div class="card-body d-flex flex-column">
                <h2 class="h4 mb-3" th:text="${torneo.nombre}">
                    Nombre del Torneo
                </h2>
                <p class="text-muted small mb-3 overflow-auto"
                   style="max-height: 100px; margin-top: 20px;"
                   th:text="${torneo.descripcion}">>
                    Descripción del torneo
                </p>

                <!-- Formato del torneo -->
                <th:block th:if="${torneo.formatoTorneo != null}">
                    <div class="bg-light p-3 rounded mb-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="h6 mb-0">
                                <i class="bi bi-diagram-3 me-2"></i>
                                <span th:text="${torneo.formatoTorneo.tipo.name() == 'LIGA'} ? 'Liga' : 'Copa'">
                                                Tipo
                                            </span>
                            </h3>
                        </div>
                    </div>
                </th:block>
                <a th:href="@{/torneo/detalle-torneo/{id}(id=${torneo.id})}"
                   class="btn btn-primary w-100 mt-3">
                    Ver detalle
                    <i class="bi bi-arrow-right ms-2"></i>
                </a>
            </div>
        </div>

    </section>
</div>
</main>

<!-- Sección de Partidos Únicos -->
<main class="contenedor-principal-torneos" th:if="${torneosUnicos != null and !torneosUnicos.isEmpty()}">
    <h1>Partidos Únicos</h1>
    <div class="contenedores row">
        <section class="contenedor-torneo col-12 col-md-6 col-lg-4 mb-4" th:each="torneo : ${torneosUnicos}">
            <div class="torneo-card card h-100 shadow-sm position-relative">
                <!-- Estado del torneo -->
                <th:block th:switch="${torneo.estado.name()}">
                    <div th:case="'ABIERTO'" class="estado-badge position-absolute bg-success">
                        <i class="bi bi-unlock"></i> Abierto
                    </div>
                    <div th:case="'EN_CURSO'" class="estado-badge position-absolute bg-warning">
                        <i class="bi bi-clock-history"></i> En curso
                    </div>
                    <div th:case="'FINALIZADO'" class="estado-badge position-absolute bg-info">
                        <i class="bi bi-trophy"></i> Finalizado
                    </div>
                    <div th:case="*" class="estado-badge position-absolute bg-danger">
                        <i class="bi bi-lock"></i> Cerrado
                    </div>
                </th:block>

                <div class="card-body d-flex flex-column">
                    <h2 class="h4 mb-3" th:text="${torneo.nombre}">
                        Nombre del Partido Único
                    </h2>
                    <p class="text-muted small mb-3 overflow-auto"
                       style="max-height: 100px;"
                       th:text="${torneo.descripcion}">
                        Descripción del partido único
                    </p>

                    <!-- Formato del torneo -->
                    <div class="bg-light p-3 rounded mb-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="h6 mb-0">
                                <i class="bi bi-diagram-3 me-2"></i>
                                Partido Único
                            </h3>
                        </div>
                    </div>
                    <a th:href="@{/torneo/detalle-torneo/{id}(id=${torneo.id})}"
                       class="btn btn-primary w-100 mt-3">
                        Ver detalle
                        <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const overlay = document.querySelector('.sidebar-overlay');
        sidebar.classList.toggle('active');
        overlay.classList.toggle('active');
    }

    document.addEventListener('DOMContentLoaded', () => {
        const sidebar = document.getElementById('sidebar');

        document.addEventListener('click', (e) => {
            if (sidebar.classList.contains('active') &&
                !sidebar.contains(e.target) &&
                !e.target.closest('.menu-indicator')) {
                toggleSidebar();
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape' && sidebar.classList.contains('active')) {
                toggleSidebar();
            }
        });
    });
</script>
</body>
</html>