<div id="lista-torneos" th:fragment="torneoList">
   <main class="contenedor-principal-torneos">
      <header class="text-center mb-5">
         <h1 class="display-4 fw-bold text-primary">
            <i class="bi bi-trophy me-2"></i>Torneos
         </h1>
      </header>

      <div class="contenedores row">
         <section class="contenedor-torneo col-12 col-md-6 col-lg-4 mb-4" th:each="torneo : ${torneos}">
            <div class="torneo-card card h-100 d-flex flex-column shadow-sm position-relative p-4">
               <th:block th:switch="${torneo.estado.name()}">
                  <div th:case="'ABIERTO'" class="estado-badge position-absolute top-0 end-0 m-2 bg-success text-white px-2 py-1 rounded small">
                     <i class="bi bi-unlock"></i> Abierto
                  </div>
                  <div th:case="'EN_CURSO'" class="estado-badge position-absolute top-0 end-0 m-2 bg-warning text-dark px-2 py-1 rounded small">
                     <i class="bi bi-clock-history"></i> En curso
                  </div>
                  <div th:case="'FINALIZADO'" class="estado-badge position-absolute top-0 end-0 m-2 bg-info text-white px-2 py-1 rounded small">
                     <i class="bi bi-trophy"></i> Finalizado
                  </div>
                  <div th:case="*" class="estado-badge position-absolute top-0 end-0 m-2 bg-danger text-white px-2 py-1 rounded small">
                     <i class="bi bi-lock"></i> Cerrado
                  </div>
               </th:block>

               <div class="card-body d-flex flex-column justify-content-around mt-3">
                  <h2 class="h4 mb-3" th:text="${torneo.nombre}">Nombre del Torneo</h2>

                  <p class="text-muted small mb-3" th:text="${torneo.descripcion}">
                     Descripción del torneo
                  </p>

                  <th:block th:if="${torneo.formatoTorneo != null}">
                     <div class="bg-light p-3 rounded my-3">
                        <i class="bi bi-diagram-3 me-2"></i>
                        <span th:text="${torneo.formatoTorneo.tipo.name() == 'LIGA'} ? 'Liga' : 'Copa'">Tipo</span>
                     </div>
                  </th:block>

                  <a th:href="@{/torneo/detalle-torneo/{id}(id=${torneo.id})}"class="btn btn-primary w-100 mt-3 p-2">
                     Ver detalle <i class="bi bi-arrow-right ms-2"></i>
                  </a>
               </div>
            </div>
         </section>

      </div>

      <div class="text-center mt-5">
         <div class="hero-create-tournament">
            <a th:href="@{/torneo/crear-personalizado}" class="fechas-btn" style="font-size:1.1rem; padding:16px 40px; border-radius:18px;">
               <i class="bi bi-trophy-fill me-2"></i>CREAR NUEVO TORNEO
            </a>
            <p class="hero-subtitle mt-2">
               ¡Organiza tu propio torneo!
            </p>
         </div>
      </div>

   </main>
</div>